@font-face {
  font-family: 'Topaz';
  src: url('./fonts/Topaz_a1200_v1.0.ttf');
}

@font-face {
  font-family: 'MicroKnight';
  src: url('./fonts/MicroKnight_v1.0.ttf');
}

:root {
  --main-color: #002186;
  --secondary-color: #00f1d8;
}

.App {
  font-family: 'Topaz';
  cursor: url('./cursor.png'), auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #111;
  color: white;
}

header {
  color: white;
  background-color: #d3d3d3;
  display: grid;
  grid-template-columns: 14rem repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  border: 3px solid #d3d3d3 ;
}

#header-title {
  font-family: 'MicroKnight';
  grid-area: 1 / 1 / 3 / 2;
  text-align: center;
  display: flex;
  flex-direction: column;

}
/* #editor {
  
} */

header div {
  display: flex;
  background-color: #111;
  justify-content: center;
}

header a {
  text-decoration: none;
  color: white;
  width: 100%;
  margin: 0.5rem 0.2rem 0.4rem 0.2rem;
  padding: 0rem 0rem 0.2rem 0rem;
  background: #db4300;  
  text-align: center;
  font-size: 1.5rem;
}

header svg {
  margin: auto;
  width: 7rem;
  height: 4rem;
}

#version {
  grid-area: 3/1/4/7;
  display: flex;
  justify-content: center;
}

#version a {
  color: #fbe700;
}

#editor {
  margin-top: 1.3rem;
  /* padding: 1rem; */
  background-color: var(--main-color);
  color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}


#intro {
  background-color: var(--secondary-color);
  color: var(--main-color);
  min-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  justify-self: center;
  text-align: center;
}

#intro h2, #intro p {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0.2rem;
}

#intro a {
  color: var(--main-color);
}

#presentation {
  text-align: center;
}

#preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
}

.no-show {
  display: none;
}
